.table-responsive {
    overflow-x: unset;
}

a.logo, a.logo:hover {
    margin-top: 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.modal-loader {
    text-align: center;
    margin: 20px 0;
}

.hide {
    display: none !important;
}

img.foto {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    border: solid thin #000;
}

.space {
    margin-top: 20px;
}