

.img-anjing {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;


}

.scroll-hidden {
	overflow: hidden;
}

.form-left {
	padding-right: 5rem;
	padding-left: 5rem;
	padding-top: 5rem;
	background-color: #008DA7 ;
	height: 100vh;
}